main {
    /* display: flex;
    flex-direction: column; */

    .card {
        min-width: 500px;
        min-height: 800px;
        border: rgb(85, 85, 85) 1px ridge;
        border-radius: 5px;
        box-shadow: 10px 5px 5px rgb(85, 85, 85);
    }

    .date {
        min-height: 100px;
    }

    .temperature {
        min-height: 200px;
    }

    .content {
        margin: 18px 18px 18px 18px;
    }

    mat-spinner {
        max-width: 20px; 
        max-height: 20px
    }

    .temperature {
        font-size: 100px;
        font-weight: 300;
        color: rgb(85, 85, 85);
        margin-top: 12px;
        margin-bottom: 12px;
    }

    .month {
        font-size: 80px;
        font-weight: 100;
        color: rgb(85, 85, 85);    
    }

    .date {
        font-size: 30px;
        font-weight: 70;
        color: rgb(40, 40, 40);  
        margin-top: 48px;  
    }
}

.vl {
    border-left: 1px solid rgb(0, 0, 0);
    height: 25px;
  }